{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/forbid-prop-types": 0,
    "react/destructuring-assignment": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "no-nested-ternary": 0
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
