@import "reset.less";
@import "header.less";
@import "spotItem.less";

body {
  font-family: "Conduit ITC";
  font-weight: lighter;
}

div.container {
  width: 1024px;
  margin: 0 auto;
}



table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  tr {

    th {
      background-color: #0088cc;
      padding: 0.5rem 1rem;
    }

    td {
      padding: 0.5rem 1rem;
      background-color: #6699cc;
    }


  }

}
