.edit-pic {
    max-width: 100%;
    height: auto;
}

.image-hover-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'WorkSans-Regular';
    background-color: fade(@blank-pink, 45%);
    opacity: 0;
}

.image-hover-label:hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
}

.image-hover-label__icon {
    color: fade(@blank-purple-dark, 75%);
    font-size: 7em;
}

.image-hover-label__text {
    color: @blank-black;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}

.card-pic {
    display: block;
    width: 100%;
    height: auto;
}

.image-drop__dropzone {
    border-style: hidden;
    position: relative;
}

.image-drop-spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: fade(@blank-green, 60%);
}

@media screen and (max-width: @breakpoint-first) {
    .floq-cards {
        padding-left: 0px;
    }
    .employee-card {
        font-size: 10px;
    }
    .role-column {
        padding-bottom: 5em;
    }
}

@media screen and (max-width: @breakpoint-second) {
    .employee-card {
        font-size: 12px;
    }
}

@media screen and (max-width: @breakpoint-third) {
    .floq {
        font-size: 12px;
    }
    .floq-cards {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .floq-list-header__filter-unemployed-switch {
        display: none !important;
    }
    .floq-search-field {
        width: auto;
        flex-grow: 1;
    }
    .mobile-upload-button {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        background-color: @blank-green;
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .image-drop__image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .edit-hover {
        display: none;
    }
    .edit-pic {
        height: 4em;
        width: auto;
        clip-path: circle();
        margin: 0.6em 0em 0.2em 0em;
    }
}