img.employee-list-image {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right:10px;
}

#add-employee-button {
    align-self: flex-end;
    background-color: white;
    margin: 0;
}

.google_map,.paragraph {
    float: left;
}
.clearfix{
    clear:both
}