@import "colors.less";
@import "fonts.less";
@import "reset.less";
@import "floq.less";
@import "details.less";
@import "list.less";
@import "employeeEditor.less";
@import "inputFields.less";
@import "errorDialog.less";
@breakpoint-first: 1300px;
@breakpoint-second: 1680px;
@breakpoint-third: 1050px;
body {
    font-family: "Roboto", sans-serif;
}

.mobile-upload-button {
    display: none
}